
.page{
width: 100%;
background-image:url(images/univers.jpg);
background-repeat: repeat;
background-size: 100%;
padding-top: 10%;
}


.cartevisite {
  width: 50%;
  padding: 2%;
  margin: auto;
  background-image:url(images/wallpaper.jpg);
    border: 5px solid #FFFFFF;


}

body{
    font-weight: 400;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.titre{
display: flex;
flex-wrap: nowrap;
}

.titre1 {
  flex: 2;

}

a {
  text-decoration: none;
  color: #708090;
}

a:hover{
  color: white;
}


.en_tete{

  border-spacing: 2px;
  text-align: center;
}


.photo img {
  border-radius: 50%;
  width: 200px;
  border: 5px solid #000;
}



ul{
  list-style-type: none;
  text-align: center;
  text-decoration-color: : green;

}

video {
  width: 100%;
  margin:auto;

}

.ma-presentation p {

  text-align: center;
  font-size: 15px;
  font-style: oblique;
  color: white;



}

.listeThemes {

  justify-content: space-around;
  text-align: justify;

}



.listeThemes  li {
  list-style:none;
  padding: 50px;
}



hr {

margin-left: 20%;
margin-right: 20%;
margin-top: 5%;
margin-bottom: 5%;
}

h1{
  background-color: white;
  border: 5px solid #000000;
   font-size: 30px;
   font-variant: small-caps;
   letter-spacing: 4px;
   color: black;
   text-align: center;
   font-family: 'Roboto', sans-serif;
   padding: 0 50px;
   max-width: 50%;
}

h2{
    font-size: 35px;
    font-variant: small-caps;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}

h3{
  text-align: center;
  font-variant: small-caps;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  border: 1px solid #000000;
  background-color: white;
  color: black;
   border-radius: 999em;
}

h4{

    text-align: center;
    font-family: 'Roboto', sans-serif;
}

p {
text-align: center;

}

.motiv{
  text-align: center;
  color: white;
}



.motiv img{


     width: 400px;
     height: 350px;
     padding: 10px;
     border: 10px solid #000;
     background-color: #eee;

}

/* Contact en Liens UTILES */


.contact{
  display: flex;
  flex-wrap: wrap;
justify-content: space-between;
}

.liens{
  text-align: center;
  color: white;
  width: 30%;
  margin: 0 1%;
}

.liens-bouton{
  text-align: center;
  width: 30%;
  margin: 20px 1%;

}
.liens-bouton a {
  color: black;
  background-color: white;
  border: 3px solid #000;
    padding: 10px 2%;

}
.liens-bouton a:hover {
  color: white;
  background-color: black;
    padding: 10px 2%;
}

.liens img{

  border-radius: 50%;
  width: 70%;
  height: auto;
  border: 5px solid #000;
  background-color: #eee;
}



footer{
    text-align: center;
}
